<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>description</key>
        <string>Subjekt interface definition language</string>
        <key>name</key>
        <string>Subjekt</string>
        <key>uuid</key>
        <string>2b1e7d52-88fc-4b3a-909e-1a5e5df2c49e</string>
    </dict>
</plist>